
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    width: 100%;
    font-family: 'Lato', sans-serif;
}

.content-box-component {
    box-sizing: content-box;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

body {
    width: 100%;
    height: 100%;
    font-size: 16px;
    line-height: 1.42;
    background-color: #F6F9F9;
}
.hidden{
    opacity:0;
}
.visible{
    opacity:1;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    overflow:hidden;
    text-align: center;
}

.row {

}

.wrapper {
    min-height: 100%;
    padding: 1px 0;
    position: relative;
}

.wrapper:after {
    content: "";
    display: block;
    height: 90px;

}

.top {
    position: absolute;
    padding-top: 30px;
    padding-bottom: 30px;

}

.logo {
    float: left;
}

.logo__text {
    float: right;
    margin-left: 16px;
    margin-top: 10px;
    font-size: 30px;
    color: rgb(45, 57, 80);
    font-weight: bold;
    line-height: 0.667;
}

/*  header start  */
.header {



    color:#fff;
}

.video-container {
    position:absolute;
    top:97px;
    left:0;
    width:100%;

    overflow:hidden;
    z-index:-1;
}
.video-container video{
    min-height:100%;
    min-width:100%;
}

.header__overlay{
    height:100%;
    position: absolute;
    top:0;
    left:0;
    width:100vw;
    z-index:1;
    background:rgb(45, 57, 80);
    opacity:0.8;
}
.header__content {
    z-index: 2;
    display:block;
    margin-top: 319px;
    margin-bottom: 90px;

}

.header__title {
    display: inline-block;
    max-width: 600px;
    font-size: 120px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border-bottom: 2px solid rgb(21, 164, 250);
    margin: 0;
}

.header__slogan {
    padding-top: 35px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin-bottom: 65px;

}

.btn {
    border-color: rgb(21, 164, 250);
    border-radius: 2px;
    background-color: rgba(21, 164, 250, 0);
    width: 180px;
    height: 58px;
    color: #fff;
    font-size: 18px;
    line-height: 2.611;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 170px;
    cursor: pointer;
}

.btn:hover {
    transition: .6s ease;
    color: rgb(255, 255, 255);
    line-height: 2.35;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(21, 164, 250);
    border-radius: 2px;
    background-color: rgb(21, 164, 250);
}

.arrow {
    background: url(../img/arrow.png) no-repeat;
    width: 20px;
    height: 12px;
    margin: 0 auto;
    animation: scrollDown 3s infinite;
}
@keyframes scrollDown {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
60% {
    transform: translateY(-15px);
}
}

/*  header end  */

.content {
    background-color: rgb(246, 249, 249);
    text-align: center;
    padding-top: 80px;

}
.content-slider__item {
    width: 90%;
    margin: 0 auto;
}
.content__title {
    font-size: 40px;
    font-weight: 400;
    color: rgb(45, 57, 80);
    line-height: 1.2;
}

.content__slogan {
    font-size: 20px;
    line-height: 1.6;
    color: rgb(153, 153, 153);
    max-width: 100%;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
}
.owl-dots {
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 50px;
    -webkit-tap-highlight-color: transparent;

}

.owl-dot span{


    width: 15px;
    height: 15px;
    margin: 10px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 200ms ease;
    border-radius: 50%;
}

.owl-dot.active span {
    background: rgb(21, 164, 250);
}
.owl-dot.active {
    border: rgb(246, 249, 249);
}
/*  services start  */

.services {

    background-color: #ffffff;
}

.services__box {
    box-sizing: border-box;
}

.services__item {
    box-sizing: border-box;
    width: 29.91%;
    min-width: 290px;
    float: left;
    margin: 15px;
    padding: 60px 5px 60px;
    text-align: center;
    list-style: none;
    transition: all 0.5s;
    box-shadow: 0px 0px 10px #cdcdcd;
}


.services__img--one {
    margin-bottom: 30px;
}

.services__title {
    margin-bottom: 25px;
    font-size: 22px;
    color: rgb(45, 57, 80);
    transition: all 0.6s ease;
}

.services__text {
    font-size: 15px;
    color: rgb(153, 153, 153);
    transition: all 0.6s ease;
}
.services__item:hover {
    border: 1px solid rgb(21, 164, 250);
    transition: all 0.2s ease;
}
.services__item:hover .services__title {
    color: rgb(21, 164, 250);

    transition: all 0.6s ease;
}
.services__item:hover .services__text {
    color: rgb(45, 57, 80);

    transition: all 0.6s ease;
}
/*  services end  */

/*  some facts start  */
.facts {
    padding: 100px 0px;
    background-color: rgb(246, 249, 249);
}
.facts__list {
    padding-left: 0;
}
.fact__item {
    width: 20%;
    min-width: 200px;
    background-color: #fff;
    border:1px solid rgb(21, 164, 250);
    padding: 40px 30px;
    margin: 15px;
    text-align: center;
    display: inline-block;
}
.fact__img {
    margin-bottom: 15px;
}
.fact__counter {
    font-size: 24px;
    font-weight: 700;

    margin-bottom: 15px;
}
.fact__text {

    display: inline-block;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;


}
/*  some facts end  */

/*  portfolio start  */

.portfolio {
    margin: 0 auto;
    background-color: #fff;
    text-align: center;
    padding-top: 75px;
    padding-bottom: 115px;
}

.portfolio__title {
    font-size: 41px;
    font-weight: 400;
    color: rgb(45, 57, 80);
}

.portfolio__slogan {
    font-size: 15px;
    line-height: 1.533;
    color: rgb(144, 144, 144);
    margin-bottom: 30px;
}

.box-img {

}

.container-img {
    max-width: 1170px;
    margin: 0 auto;
    font-size: 0;
    padding-left: 0;
}

.portfolio__img {
    position: relative;
    display: inline-block;
    margin: 15px;
    text-align: center;
    transition: all 1s ease;
}

.img1 {
    background: url(../img/img1.png) no-repeat center;
}

.img2 {
    background: url(../img/img2.png) no-repeat center;
}

.img3 {
    background: url(../img/img3.png) no-repeat center;
}

.img4 {
    background: url(../img/img4.png) no-repeat center;
}

.img5 {
    background: url(../img/img5.png) no-repeat center;
}

.img6 {
    background: url(../img/img6.png) no-repeat center;
}

.img1,
.img2,
.img3,
.img4,
.img5,
.img6 {
    width: 360px;
    height: 260px;
}

.zoom {
    display: inline-block;
    background: url(../img/Zoom.png) no-repeat center;
    width: 42px;
    height: 42px;
    margin-right: 10px;
    text-align: center;
}

.link {
    display: inline-block;
    background: url(../img/Link.png) no-repeat center;
    width: 42px;
    height: 42px;
    text-align: center;
}

.portfolio__img--hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background: rgba(21, 164, 250, 0.9);
    width: 100%;
    height: 100%;
    padding-top: 110px;
    text-align: center;
    cursor: pointer;
    padding-left: 0;
    transition: transform 0.4s, opacity 0.5s;

}

.portfolio__img:hover .portfolio__img--hover {
    transition: transform 0.4s, opacity 0.5s;
    opacity: 1;
    transform: translate(15px, 15px);

}

/*  portfolio end  */

/*  submit start  */

.submit {
    background-color: #6c727d;
    background-image: url(../img/footer.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-top: 75px;
    padding-bottom: 110px;
}

.submit__title {
    font-size: 41px;
    color: rgb(255, 255, 255);
    line-height: 1.2;
}

.submit__text {
    font-size: 15px;
    color: rgb(153, 153, 153);
    line-height: 1.533;
    margin-top: 15px;
    margin-bottom: 50px;
}

.main-form {
    max-width: 555px;
    margin: 0 auto;
}

.form {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.form__name,
.form__email,
.form__comment {
    width: 100%;
    font-size: 15px;
    color: rgb(153, 153, 153);
    line-height: 1.2;
    border: 1px solid rgb(153, 153, 153);
    border-radius: 2px;
    margin-bottom: 20px;
    background-color: transparent;
    padding: 20px 0 20px 20px;

}

.form__comment {
    height: 160px;
    outline: none;
    resize: none;
    overflow: auto;
}

.check-form {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
    float: left;
    font-size: 15px;
    color: rgb(153, 153, 153);
    line-height: 1.2;
}

.check {
    width: 13px;
    height: 13px;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;

    border: 1px solid rgb(154, 161, 171);
    border-radius: 2px;
    background-color: rgb(153, 153, 153);
}

.check-form:hover {
    color: rgb(255, 255, 255);
}

.form__name:hover,
.form__email:hover,
.form__comment:hover {
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}
.form__name:focus,
.form__email:focus,
.form__comment:focus {
    border: 1px solid rgb(21, 164, 250);
    color: rgb(255, 255, 255);
}

.btn-form {
    float: right;
}

/*  submit end  */

/*  footer start  */
.footer {
    height: 90px;
}

.footer__copy {
    float: left;
    font-size: 15px;
    color: rgb(153, 153, 153);
    line-height: 1.2;
    margin-top: 38px;
    margin-bottom: 38px;

}

.footer__socials {
    float: right;

}

.socials__link {
    display: inline-block;
    height: 40px;
    width: 40px;
    margin-right: 5px;
    margin-top: 25px;
    margin-bottom: 25px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.socials__link--tw {
    background-image: url(../img/social/tw.png);
}
.socials__link--tw:hover {
    background-image: url(../img/social/hover/tw-h.png);
}
.socials__link--fb {
    background-image: url(../img/social/fb.png);
}
.socials__link--fb:hover {
    background-image: url(../img/social/hover/f-h.png);
}
.socials__link--g {
    background-image: url(../img/social/g.png);
}
.socials__link--g:hover {
    background-image: url(../img/social/hover/g-h.png);
}
.socials__link--in {
    background-image: url(../img/social/in.png);
    margin-right: 0;
}
.socials__link--in:hover {
    background-image: url(../img/social/hover/in-h.png);
}
/*  footer end  */
