.preloader {
    background: #fff;
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
}


.cssload-spin-box {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 21px;
    height: 21px;
    border-radius: 1px;
    box-shadow: 21px 21px rgb(21,162,250), -21px 21px rgb(45,57,80), -21px -21px rgb(45,57,80), 21px -21px rgb(21,162,250);
    -o-box-shadow: 21px 21px rgb(21,162,250), -21px 21px rgb(45,57,80), -21px -21px rgb(45,57,80), 21px -21px rgb(21,162,250);
    -ms-box-shadow: 21px 21px rgb(21,162,250), -21px 21px rgb(45,57,80), -21px -21px rgb(45,57,80), 21px -21px rgb(21,162,250);
    -webkit-box-shadow: 21px 21px rgb(21,162,250), -21px 21px rgb(45,57,80), -21px -21px rgb(45,57,80), 21px -21px rgb(21,162,250);
    -moz-box-shadow: 21px 21px rgb(21,162,250), -21px 21px rgb(45,57,80), -21px -21px rgb(45,57,80), 21px -21px rgb(21,162,250);
    animation: cssload-spin ease infinite 4.6s;
    -o-animation: cssload-spin ease infinite 4.6s;
    -ms-animation: cssload-spin ease infinite 4.6s;
    -webkit-animation: cssload-spin ease infinite 4.6s;
    -moz-animation: cssload-spin ease infinite 4.6s;
}



@keyframes cssload-spin {
    0%,
    100% {
        box-shadow: 21px 21px rgb(45,57,80), -21px 21px rgb(21,162,250), -21px -21px rgb(45,57,80), 21px -21px rgb(21,162,250);
    }
    25% {
        box-shadow: -21px 21px rgb(21,162,250), -21px -21px rgb(45,57,80), 21px -21px rgb(21,162,250), 21px 21px rgb(45,57,80);
    }
    50% {
        box-shadow: -21px -21px rgb(45,57,80), 21px -21px rgb(21,162,250), 21px 21px rgb(45,57,80), -21px 21px rgb(21,162,250);
    }
    75% {
        box-shadow: 21px -21px rgb(21,162,250), 21px 21px rgb(45,57,80), -21px 21px rgb(21,162,250), -21px -21px rgb(45,57,80);
    }
}

@-o-keyframes cssload-spin {
    0%,
    100% {
        box-shadow: 21px 21px rgb(45,57,80), -21px 21px rgb(21,162,250), -21px -21px rgb(45,57,80), 21px -21px rgb(21,162,250);
    }
    25% {
        box-shadow: -21px 21px rgb(21,162,250), -21px -21px rgb(45,57,80), 21px -21px rgb(21,162,250), 21px 21px rgb(45,57,80);
    }
    50% {
        box-shadow: -21px -21px rgb(45,57,80), 21px -21px rgb(21,162,250), 21px 21px rgb(45,57,80), -21px 21px rgb(21,162,250);
    }
    75% {
        box-shadow: 21px -21px rgb(21,162,250), 21px 21px rgb(45,57,80), -21px 21px rgb(21,162,250), -21px -21px rgb(45,57,80);
    }
}

@-ms-keyframes cssload-spin {
    0%,
    100% {
        box-shadow: 21px 21px rgb(45,57,80), -21px 21px rgb(21,162,250), -21px -21px rgb(45,57,80), 21px -21px rgb(21,162,250);
    }
    25% {
        box-shadow: -21px 21px rgb(21,162,250), -21px -21px rgb(45,57,80), 21px -21px rgb(21,162,250), 21px 21px rgb(45,57,80);
    }
    50% {
        box-shadow: -21px -21px rgb(45,57,80), 21px -21px rgb(21,162,250), 21px 21px rgb(45,57,80), -21px 21px rgb(21,162,250);
    }
    75% {
        box-shadow: 21px -21px rgb(21,162,250), 21px 21px rgb(45,57,80), -21px 21px rgb(21,162,250), -21px -21px rgb(45,57,80);
    }
}

@-webkit-keyframes cssload-spin {
    0%,
    100% {
        box-shadow: 21px 21px rgb(45,57,80), -21px 21px rgb(21,162,250), -21px -21px rgb(45,57,80), 21px -21px rgb(21,162,250);
    }
    25% {
        box-shadow: -21px 21px rgb(21,162,250), -21px -21px rgb(45,57,80), 21px -21px rgb(21,162,250), 21px 21px rgb(45,57,80);
    }
    50% {
        box-shadow: -21px -21px rgb(45,57,80), 21px -21px rgb(21,162,250), 21px 21px rgb(45,57,80), -21px 21px rgb(21,162,250);
    }
    75% {
        box-shadow: 21px -21px rgb(21,162,250), 21px 21px rgb(45,57,80), -21px 21px rgb(21,162,250), -21px -21px rgb(45,57,80);
    }
}

@-moz-keyframes cssload-spin {
    0%,
    100% {
        box-shadow: 21px 21px rgb(45,57,80), -21px 21px rgb(21,162,250), -21px -21px rgb(45,57,80), 21px -21px rgb(21,162,250);
    }
    25% {
        box-shadow: -21px 21px rgb(21,162,250), -21px -21px rgb(45,57,80), 21px -21px rgb(21,162,250), 21px 21px rgb(45,57,80);
    }
    50% {
        box-shadow: -21px -21px rgb(45,57,80), 21px -21px rgb(21,162,250), 21px 21px rgb(45,57,80), -21px 21px rgb(21,162,250);
    }
    75% {
        box-shadow: 21px -21px rgb(21,162,250), 21px 21px rgb(45,57,80), -21px 21px rgb(21,162,250), -21px -21px rgb(45,57,80);
    }
}