*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a, a:hover, button, button:hover {
    text-decoration:none;
    color: #fff;
    cursor: pointer;
}
/*Flex Framework*/
.main_flex {
  display:flex;
  display:-webkit-flex;
  -webkit-flex-flow:row wrap;
  flex-flow:row wrap;
}

.main_flex__nowrap{
  display:flex;
  display:-webkit-flex;
  -webkit-flex-flow:row nowrap;
  flex-flow:row nowrap;
}

.flex__auto {
  flex:auto;
  -webkit-flex:auto;
  -ms-flex:auto;
}

.flex__jcontent_between {
  justify-content:space-between;
  -webkit-justify-content:space-between;
}

.flex__jcontent_start{
  justify-content:flex-start;
  -webkit-justify-content:flex-start;
}

.flex__jcontent_end{
  justify-content:flex-end;
  -webkit-justify-content:flex-end;
}

.flex__jcontent_center{
  justify-content:center;
  -webkit-justify-content:center;
}

.flex__jcontent_around{
  justify-content:space-around;
  -webkit-justify-content:space-around;
}


.flex__align-items_start{
  align-items:flex-start;
  -webkit-align-items:flex-start;
}

.flex__align-items_end{
  align-items:flex-end;
  -webkit-align-items:flex-end;
}

.flex__align-items_baseline{
  align-items:baseline;
  -webkit-align-items:baseline;
}

.flex__align-items_stretch{
  align-items:stretch;
  -webkit-align-items:stretch;
}

.flex__align-items_center{
  align-items:center;
  -webkit-align-items:center;
}

.flex__align-content_flex-start{
  align-content:flex-start;
  -webkit-align-content:flex-start;
}

.flex__align-content_flex-end{
  align-content:flex-end;
  -webkit-align-content:flex-end;
}

.flex__align-content_space-between{
  align-content:space-between;
  -webkit-align-content:space-between;
}

.flex__align-content_center{
  align-content:center;
  -webkit-align-content:center;
}

.flex__align-content_space-around{
  align-content:space-around;
  -webkit-align-content:space-around;
}

.flex__align-content_stretch{
  align-content:stretch;
  -webkit-align-content:stretch;
}

.flex__flex-grow_01{
  flex-grow:1;
  -webkit-flex-grow:1;
}

.flex__flex-grow_02{
  flex-grow:2;
  -webkit-flex-grow:2;
}

.flex__flex-grow_03{
  flex-grow:3;
  -webkit-flex-grow:3;
}

.flex__flex-grow_04{
  flex-grow:4;
  -webkit-flex-grow:4;
}



body {
    background-color: #fff;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: 1.27vmax;
    line-height: 1.9vmax;
    color: #323232;
    scroll-behavior: smooth;
}
.container {
    width: 74.6vw;
    margin: 0 auto;
    position: relative;
}

.header {

    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/header-bg__1.jpg");
    padding-top: 55px;
    padding-bottom: 60px;
    color: #fff;
}
.header__top {
    color: rgba(255, 255, 255, 0.6);
}

.header__callback {
    text-transform: uppercase;
}
.nav__item {
    cursor: pointer;
    list-style: none;
    text-transform: uppercase;

}

.about {
    padding-top:18vh;
    padding-bottom: 22vh;

}
.about__title {
    text-transform: uppercase;
    font-size: 48px;
    line-height: 1.25;
    margin: 5px 0 0 0;
}
.about__title--color {
    color: #55acee;
}
.text-about {
    width: 44vw;
}
.text-about__descp {
    margin-left: 40px;
}
.text-about__item {
    list-style-type: decimal;
}
.gallery {
    background-color: rgb(238, 238, 238);
    padding-bottom: 110px;

}
.section-title {


    text-transform: uppercase;
    font-size: 48px;
    font-weight: 400;




}
.section-title:after {
    content: url(../img/section-title__dec.png) ;
    width:100%;
    display: block;
    height:5px;
    margin-top: 0;
    margin-right: 0;
    margin-left: 15px;
    margin-bottom: 0;

}
.gallery__title {
    position: relative;
    top: -15px;
}

.img-2 {
    margin-right: 0;
}
.img-1,
.img-3,
.img-5 {
    margin-right: 15px;
}

.gallery__descp {
    font-size: 16px;
    line-height: 1.375;

}
